@use "../abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  &::selection {
    background: $grey-200;
  }
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-primary-400;
  color: $white;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
