@use "../abstracts" as *;

.about {
  margin-left: 6rem;
  display: grid;
  gap: 6rem;
  grid-template-columns: repeat(2, 1fr);
  color: $grey-600;
  height: 100vh;

  &__container {
    width: 40rem;
  }

  &__info {
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 0.8rem 0;
  }

  &__knowledge {
    padding: 1rem 0 0;
    &-title {
      font-size: 3rem;
      margin-bottom: 3.8rem;
    }
  }

  &__icons ul {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;

    & li {
      padding-left: 1.8rem;
      margin-bottom: 0.5rem;
    }

    & li:nth-child(1) {
      background: url(../vendors/icons/html5-logo.png) left center no-repeat;
    }

    & li:nth-child(2) {
      background: url(../vendors/icons/git-logo.png) left center no-repeat;
    }

    & li:nth-child(3) {
      background: url(../vendors/icons/css3-logo.png) left center no-repeat;
    }

    & li:nth-child(4) {
      background: url(../vendors/icons/globe-logo.png) left center no-repeat;
    }

    & li:nth-child(5) {
      background: url(../vendors/icons/js-logo.png) left center no-repeat;
    }

    & li:nth-child(6) {
      background: url(../vendors/icons/globe-logo.png) left center no-repeat;
    }

    & li:nth-child(7) {
      background: url(../vendors/icons/sass-logo.png) left center no-repeat;
    }

    & li:nth-child(8) {
      background: url(../vendors/icons/globe-logo.png) left center no-repeat;
    }

    & li:nth-child(9) {
      background: url(../vendors/icons/pencil-logo.png) left center no-repeat;
    }
  }
}
