@use "../abstracts" as *;

.about {
  margin-left: 6rem;
  display: grid;
  gap: 6rem;
  grid-template-columns: repeat(2, 1fr);
  color: $grey-600;
  height: 100vh;

  &__container {
    width: 40rem;
  }

  &__info {
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 0.8rem 0;
  }

  &__knowledge {
    padding: 1rem 0 0;
    &-title {
      font-size: 3rem;
      margin-bottom: 3.8rem;
    }
  }

  &__icons {
    display: flex;
    align-items: center;

    &-bullets box-icon {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }

    & ul {
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(2, 1fr);
      list-style: none;

      & li {
        margin-bottom: 0.5rem;
      }
    }
  }
}
